<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsappClone"
        android:name=".App"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".chats.detail.ChatDetailActivity"/>

        <receiver android:name=".broadcastReceivers.StaticBroadcastReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <!-- The actions you wish to listen to, below is an example -->
                <action android:name="com.example.action.STATIC_BROADCAST"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.MusicPlayerService"
            android:enabled="true"/>

        <activity android:name=".music.detail.MusicDetailActivity"/>

        <activity android:name=".sampleNavigation.NavigationSampleActivity"/>
    </application>

</manifest>